<div class="container">

<h3>Chi Town Crime Analysis</h3>
	
	
	<table>
		<tr>
			<th>Type of Crime</th>
			<th>Date</th>
			<th>Description</th>
			<th>Temp</th>
		</tr>
	<% @homicides.each do |crime| %>

		<tr>
			<td><%= crime.primary_type %></td>
			<td><%= crime.date %></td>
			<td><%= crime.description %></td>
			<td><%= crime.temp %></td>
		</tr>
		<% end %>
	</table>
	

</div>
