<div class="container">

<h3>Chi Town Crime Analysis</h3>
  
	<% @homicides.each do |crime| %>

	<li><%= crime.primary_type  %></li>
	<li><%= crime.date  %></li>
	<li><%= crime.description  %></li>

	<% end %>


</div>
